
.logo2
{
	margin-top:15px;
	margin-bottom:20px;
	background-image:url(../images/logoubb.png);
	background-repeat:no-repeat;
	display:block;
	width:158px;
	height:55px;
}

.letra-carro{
	color:black;
}

/* CSS Document */

body
{
	background-color:#ffffff;
	background-image:url(../images/backgrounds/background5.png);
	background-repeat:repeat;
}
